@import 'tailwindcss';

/* Global Tailwind Styles */

@theme {
  /* Colors */
  --color-primary-bg: #faf6ed;
  --color-accent-green: #4c8256;
  --color-filter-bg: #cfe0c7;
  --color-nav-bg: #f3e9ce;

  --color-text-base: #101010;
  --color-text-muted: #585858;
  --color-text-logo: #3b6e47;
  --color-text-green: #206831;

  --color-nav-stroke: #ddd5c2;
  --color-filter-stroke: #97b18a;

  /* fonts */
  /* Shadows */
}

body {
  @apply bg-primary-bg text-text-base pt-20 font-sans min-h-screen;
}
