@import 'tailwindcss';

/* Global Tailwind Styles */

@theme {
  /* Colors */
  --color-primary-bg: #faf6ed;
  --color-accent-green: #4c8256;
  --color-filter-bg: #cfe0c7;
  --color-nav-bg: #f3e9ce;

  --color-text-base: #101010;
  --color-text-muted: #585858;
  --color-text-logo: #3b6e47;
  --color-text-green: #206831;

  --color-nav-stroke: #ddd5c2;
  --color-filter-stroke: #97b18a;

  /* Tag colors */
  --color-tag-green: #cfe0c7;
  --color-tag-blue: #b0d7eb;
  --color-tag-orange: #ebb191;
  --color-tag-baise: #f3e9ce;
  --color-tag-purple: #e5b3e5;

  /* fonts */
  /* Shadows */
  --shadow-card-shadow: 0 4px 12px rgba(0, 0, 0, 0.08),
    0 1px 3px rgba(0, 0, 0, 0.04);
  --shadow-card-hover: 0 8px 24px rgba(0, 0, 0, 0.12),
    0 4px 8px rgba(0, 0, 0, 0.06);
}

body {
  @apply bg-primary-bg text-text-base pt-20 font-sans min-h-screen;
}
